.App {
  text-align: center;
}

.selected-link{
  color: rgb(255, 122, 142);
}

.app-name{
  font-family: 'Neucha', cursive;
  font-size: 100px;
  font-weight: 400;
}

.navbar-brand{
  font-size: 30px !important;
  height: 38px;
  padding-top: 0 !important;
  width: 75%;
  margin: auto;
}

/*------------------- NavBar -----------------------*/
.navbar{
  background-color: #FFB6C1;
}

.btn-brand-nav{
  width: 120px;
  display: inline-block;
}

.navbar-nav{
  flex-direction: row !important;
  float: right;
}

.brand-logo{
  width: 100%;
}

/*------------------- ListGroup -----------------------*/

.list-group{
  margin: 70px 0px 0px 30px;
  top: 50px !important;
  width: 70%;
}

.list-group-item{
  min-width: 100px;
}

.list-group-item:hover{
  color: rgb(255, 122, 142);
  cursor: pointer;
}

.nav-row{
  width: 100%;
}

/*------------------- Article -----------------------*/
h1{
  color: #FFB6C1;
}

.article-display{
  margin-top: 60px;
}

.article{
  width: 200px !important;
} 
.jumbotron-fluid{
  border-radius: 5px !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.itemImage{
  width: 70%;
  height: 60%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.itemName{
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}

.itemName:hover{
  text-decoration: none;
  color: #f08080;
  margin-bottom: 0px;
}

.brand{
  width: 60%;
}

.priceDisplay{
  margin-bottom: 0px;
}

.originalPrice{
  color: darkgrey;
  text-decoration: line-through;
}

.price{
  color: green;
}

.percentOff{
  font-style: italic; 
  font-size: 11px;
}

/*------------------- Pagination -----------------------*/
.pagination{
  margin-top: 50px;
  margin-bottom:30px;
}

.pagination-item{
  background-color: white;
  width: 45px;
  height: 25px;
  border-radius: 5px;
}

.pagination-item:hover{
  background-color: #FFB6C1;
  color: white;
  cursor: pointer;
}

