.App {
  text-align: center;
}

/*------------------- NavBar -----------------------*/
.navbar{
  background-color: #FFB6C1;
}

.btn-brand-nav{
  width: 120px;
}

.brand-logo{
  width: 100%;
}

.list-group{
  top: 50px !important;
  width: 200px;
}

/*------------------- Article -----------------------*/
h1{
  color: red;
}

.article-display{
  margin-top: 150px;
}

.article{
  width: 170px !important;
} 
.jumbotron-fluid{
  border-radius: 5px !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.itemImage{
  width: 70%;
  height: 60%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.itemName{
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}

.itemName:hover{
  text-decoration: none;
  color: #f08080;
  margin-bottom: 0px;
}

.brand{
  width: 60%;
}

.priceDisplay{
  margin-bottom: 0px;
}

.originalPrice{
  color: darkgrey;
  text-decoration: line-through;
}

.price{
  color: green;
}

.percentOff{
  font-style: italic; 
  font-size: 11px;
}


