.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*------------------- Article -----------------------*/
h1{
  color: red;
}

.article{
  width: 200px;
}

.jumbotron-fluid{
  border-radius: 5px !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.itemImage{
  width: 70%;
  height: 60%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.itemName{
  text-decoration: none;
  color: black;
  margin-bottom: 0px;
}

.priceDisplay{
  margin-bottom: 0px;
}

.originalPrice{
  color: darkgrey;
  text-decoration: line-through;
}

.price{
  color: green;
}

.percentOff{
  /* font-size: 12px; */
  font-style: italic; 
}
